.right-sidebar {
  flex-basis: 320px;
}

.consultant {
    min-width: 320px;
    padding: 32px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: $first-bg-color;
    box-shadow: 0px 8px 15px rgba(0, 23, 83, 0.1);
}

.consultant-form {
  display: none;
}

.consultant-form.open {
  display: flex;
  padding: 32px 0; 
}

.input-file {
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.input-file-box {
  margin-right: 32px;
}

.input-file-label {
  display: inline-block;
  width: 56px;
  height: 56px;
  padding: 14px;
  border-radius: 50%;
  background-color: #F5F6F8;
  border: 1px dashed  #7082AF;
}

.input-file-description {
  display: block;
  padding-top: 7px; 
  text-align: center;
  font-size: 11px;
  color: #0351DF;
}

.input-container {
  font-size: 13px;
  line-height: 16px;

  input {
    height: 40px;
    padding: 0 16px;
    margin-bottom: 10px;
    border: 1px solid #E9F0FE;
    border-radius: 6px;
  }
}

.consultant-title {
  color: #101A4B
}


